:root {
    --primary-color: #00b98e;
    --primary-dark-color: #02ab83;
    --primary-light-color: #02ab83;
    --accent-color: #0e2e50;

    --white: #EFFDF5;
    --neutral: #666565;

    --btn-carousel-size: 48px;
}

/******** RESET ********/

a {
    text-decoration: none;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.btn-accent {
    background-color: var(--accent-color);
    color: white;
}

.btn-accent:hover {
    background-color: var(--primary-color);
}


body {
    background-color: var(--white);
}





/******* CAROSELLO *********/
.carousel-item img {
    background-color: #424242;
    object-fit: contain;
    aspect-ratio: 4 / 3 !important;
}


/******* CATEGORY CARD *********/
.category-card {

    border-radius: 8px;
    padding: 12px;

    background-color: var(--white);
}

.category-body {
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 8px;
    border: 1px dashed var(--primary-color);

    background-color: white;
}

.category-body-icon {

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 24px 0;
    border: 1px dashed var(--primary-color);
    border-radius: 50%;
    width: 64px;
    height: 64px;
}



.category-body h3 {
    color: black;
}

.category-body i, .category-body p {
    color: var(--primary-color);
}